*{
    box-sizing: border-box;
}

div.parent{
    border: 1px gray solid;
    display: flex;
    height: 250px;
    width: 250px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* flex-direction: column; */
}
.parent div:nth-child(odd){
    background-color: gainsboro;
}